<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">📬 <%= @message.subject %></h1>
    <%= link_to "Volver a la bandeja", messages_path, class: "btn btn-outline-secondary" %>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column justify-content-between align-items-center">
          <p class="mb-2">
            <strong>De:</strong>
            <%= link_to @message.sender.full_name, profile_path(@message.sender), class: "text-decoration-none text-success" %>
          </p>
          <p class="mb-2">
            <strong>Para:</strong>
            <%= link_to @message.recipient.full_name, profile_path(@message.recipient), class: "text-decoration-none text-warning" %>
          </p>
        </div>
        <div class="d-flex gap-2 justify-content-between align-items-center">
          <% if @message.sender != current_user %>
            <%= link_to new_message_path(recipient_id: @message.sender_id, subject: "Re: #{@message.subject}"),
                class: "btn btn-outline-secondary p-1" do %>
              <i class="bi bi-reply-fill"></i> Responder
            <% end %>
          <% end %>
          <%= link_to message_path(@message),
              data: {
                turbo_method: :delete,
                turbo_confirm: "¿Borrar este mensaje?",
                turbo_frame: "_top"
              },
              class: "btn btn-outline-danger" do %>
              <i class="bi bi-trash"></i>
          <% end %>
        </div>
      </div>

      <div class="border-top pt-1 mt-3">
        <p class="mb-0"><%= simple_format(@message.content) %></p>
        <p class="text-muted mb-0"><small>Recibido: <%= @message.created_at.strftime("%d %b %Y, %H:%M") %></small></p>
      </div>
    </div>

  </div>


</div>
