<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">📬 <%= @message.subject %></h1>
    <%= link_to "Volver a la bandeja", messages_path, class: "btn btn-outline-secondary" %>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <p class="mb-2">
        <strong>De:</strong>
        <%= link_to @message.sender.full_name, profile_path(@message.sender), class: "text-decoration-none text-success" %>
      </p>
      <p class="mb-2">
        <strong>Para:</strong>
        <%= link_to @message.recipient.full_name, profile_path(@message.recipient), class: "text-decoration-none text-warning" %>
      </p>
      <div class=" shadow-sm">
        <p class="mb-0"><%= simple_format(@message.content) %></p>
        <p class="text-muted mb-0"><small>Recibido: <%= @message.created_at.strftime("%d %b %Y, %H:%M") %></small></p>
      </div>
    </div>

  </div>


</div>
