

<div class="sign-up-text container">
  <h2>Sign up</h2>
  <p>Enter your details below & sign up</p>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

 <div class="form-inputs container">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "First name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Last name" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
  </div>

  <div class="form-actions">
     <%= f.button :submit, "Sign up", class: "btn_primary" %>
  </div>
<% end %>

<div class="login"><p class="me-1">Already have an account?</p><%= render "devise/shared/links"%></div>
