<div class="container mt-5 p-5 bg-dark text-light border rounded-3 shadow" style="max-width: 600px;">
  <%= link_to '/', class: 'nav-link text-light text-center mb-5' do %>
    <h1 class="nav-title border p-2">Cool Beans</h1>
  <% end %>

  <div class="text-center mb-4">
    <h2>Registrate</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-100" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: "First name", class: "form-control mb-3 rounded-3" } %>

      <%= f.input :last_name,
                  required: true,
                  input_html: { placeholder: "Last name", class: "form-control mb-3 rounded-3" } %>

      <%= f.input :email,
                  required: true,
                  input_html: { placeholder: "Email", class: "form-control mb-3 rounded-3" } %>

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { placeholder: "Password", class: "form-control mb-3 rounded-3" } %>

      <%= f.input :photo, as: :file, multipart: true, required: true, input_html: { class: "form-control mb-3 rounded-3" } %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Sign up", class: "btn btn-outline-info w-50 mb-3" %>
    </div>
  <% end %>

  <div class="text-center">
    <p class="mb-2">Already have an account?</p>
    <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-outline-light btn-sm" %>
  </div>
</div>
