

<div class="sign-up ">
  <h2 class="text-center">Sign up</h2>
  <p class="text-center mb-5">Enter your details below & sign up</p>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-50" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs flex">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: "..." }%>
      <%= f.input :last_name,
                  required: true,
                  input_html: { placeholder: "..." }%>
      <%= f.input :email,
                  required: true,
                  input_html: { placeholder: "..." }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { placeholder: "..." }%>
      <%= f.input :photo, as: :file, multipart: true, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-outline-success" %>
    </div>
  <% end %>

  <div class="login ">
    <p class="me-1">Already have an account?</p>
    <%= render "devise/shared/links"%>
  </div>
</div>
