<div class="comment-card p-3 rounded-3 shadow-sm mb-3 d-flex gap-3 ">

  <% user = comment.user %>

  <% if user.photo.attached? %>
    <%= image_tag user.photo.variant(resize_to_fill: [50, 50]),
          class: "rounded-circle comment-avatar" %>
  <% else %>
    <div class="default-avatar rounded-circle"></div>
  <% end %>

  <div class="flex-grow-1">
    <div class="d-flex justify-content-between align-items-start mb-1">
      <strong class="text-dark"><%= comment.title %></strong>

      <% if user_signed_in? && user == current_user %>
        <%= button_to user_ferment_comment_path(ferment.user, ferment, comment),
                method: :delete,
                data: { confirm: "Estás seguro?" },
                class: "btn btn-outline-danger btn-sm" do %>
          <i class="bi bi-trash"></i>
              <% end %>

      <% end %>
    </div>

    <div class="text-muted small mb-2">
      Por
      <%= link_to user.full_name,
            user,
            class: "text-decoration-none text-secondary" %>
      • <%= time_ago_in_words(comment.created_at) %> atrás
    </div>

    <p class="mb-0 text-dark"><%= comment.content %></p>
  </div>

</div>
