<div class="border mt-5 p-3 w-50 mx-auto">
  <h2 class="text-center mb-4">Editar perfil</h2>

  <%= simple_form_for @user, url: user_path(@user), method: :patch, html: { class: "w-50 mx-auto", multipart: true } do |f| %>

    <div class="form-inputs">
      <%= f.input :photo, as: :file, label: "Actualizar foto", input_html: { accept: 'image/*', class: 'form-control-file mb-3' } %>

      <%= f.input :first_name, label: "Nombre", input_html: { class: 'form-control mb-3'} %>
      <%= f.input :last_name, label: "Apellido", input_html: { class: 'form-control mb-3'} %>
      <%= f.input :email, label: "Email", input_html: { class: 'form-control mb-3'} %>
      <%= f.input :password, label: "Contraseña", input_html: { class: 'form-control mb-3'} %>
    </div>

    <div class="form-actions text-center">
      <%= f.submit "Actualizar Perfil", class: "btn btn-outline-info w-50" %>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to "← Volver", profile_path(@user), class: "btn btn-sm btn-outline-info" %>
  </div>
</div>
