<div class="p-4 d-flex justify-content-between align-items-center bg-dark shadow-sm">
  <%= link_to '/', class: 'nav-link text-light d-flex align-items-center gap-2' do %>
    <h1 class="nav-title fs-3 m-0">Cool Beans</h1>
  <% end %>
  <% if @user == current_user %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-light btn-sm" %>
  <% end %>
</div>

<h4 class="text-center text-light mt-5 mb-2">Mis Fermentos</h4>
<hr class="text-center w-50 mx-auto">


<div class="show-page mt-2">

  <!-- Perfil usuario -->
  <div class="profile text-center text-light bg-dark">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "img-fluid rounded-circle mb-3", style: "width: 200px; height: 200px; object-fit: cover;" %>
    <% else %>
      <p class="text-light">No hay fotos disponibles!</p>
    <% end %>

    <h3 class="text-light mt-2 mb-1"><%= @user.full_name %></h3>
    <p class="text-light"><%= @user.email %></p>
    <p class="text-warning">Cantidad de fermentos: <strong><%= @user.ferments.count %></strong> </p>
    <div class="text-center">
      <%= link_to "Todos", ferments_path, class:"btn btn-outline-info px-4 py-2 rounded-3" %>

      <div class="d-flex flex-column justify-content-center">
        <% if user_signed_in? && @user == current_user %>
          <%= link_to 'Crear Fermento', new_ferment_path, class: "btn btn-outline-info px-4 py-2 rounded-3 my-2" %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-light btn-sm my-2 py-2" do %>
            Editar Perfil
          <% end %>

        <% end %>
      </div>

    </div>

  </div>

  <!-- Fermentos lista -->
  <div class="ferments-side">
    <% if @user.ferments.any? %>

      <ul class="ferment-list">
        <% @user.ferments.each do |ferment| %>
          <li class="ferment-item d-flex align-items-center justify-content-between">
            <%= link_to ferment_path(ferment), class: "ferment-link d-flex align-items-center" do %>
              <div class="ferment-content d-flex align-items-center">
                <% if ferment.photos.attached? %>
                  <%= image_tag ferment.photos.first.variant(resize_to_limit: [75, 75]), class: "ferment-image me-3" %>
                <% end %>
                <p class="ferment-name mb-0"><%= ferment.name %></p>
              </div>
            <% end %>

            <% if user_signed_in? && ferment.user == current_user %>
              <%= button_to ferment_path(ferment), method: :delete, data: { confirm: "¿Estás seguro de eliminar este fermento?" }, class: "btn btn-sm btn-outline-danger ms-3" do %>
                ×
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted">No hay fermentos aún.</p>
    <% end %>
  </div>
</div>
