<nav class="navbar-global d-flex justify-content-between align-items-center w-100 px-4 py-3" data-controller="navbar">

  <%= link_to root_path, class: 'nav-link text-light z-max', data: { navbar_target: "brand" } do %>
    <h1 class="nav-title m-0 fs-2">Cool Beans</h1>
  <% end %>

  <button class="nav-toggle btn text-light z-max d-md-none"
          type="button"
          data-action="click->navbar#toggle"
          data-navbar-target="toggleBtn">
    ☰
  </button>

  <div class="nav-mobile-menu" data-navbar-target="menu">
    <div class="menu-header mb-5">
       <h2 class="nav-title fs-1" style="color: #ffc107;">Cool Beans</h2>
    </div>

    <div class="w-100 px-4 d-flex flex-column align-items-center">
      <% if user_signed_in? %>
        <%= link_to 'Mi Perfil', user_path(current_user), data: { action: "click->navbar#close" }, class: 'nav-mobile-item' %>
        <%= link_to 'Crear Fermento', new_user_ferment_path(current_user), data: { action: "click->navbar#close" }, class: 'nav-mobile-item' %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-mobile-item text-danger opacity-75' %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: 'nav-mobile-item' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-mobile-item' %>
      <% end %>
    </div>
  </div>

  <div class="nav-links d-none d-md-flex align-items-center gap-3">
    <% if user_signed_in? %>
      <%= link_to 'Explorar', ferments_path, class: 'btn btn-sm btn-outline-light border-0' %>
      <%= link_to 'Nuevo Fermento', new_user_ferment_path(current_user), class: 'btn btn-sm btn-outline-warning' %>
      <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.photo, class: "profile-avatar-sm" if current_user.photo.attached? %>
      <% end %>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger border-0" do %>
        <i class="bi bi-box-arrow-right"></i>
      <% end %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: 'btn btn-outline-light btn-sm' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning btn-sm' %>
    <% end %>
  </div>
</nav>
