<div class="landing">

  <div class="landing-inner d-flex flex-column justify-content-between">

    <nav class="nav d-flex justify-content-between align-items-center w-100 px-3">
      <%= link_to root_path, class: 'nav-link text-light' do %>
        <h1 class="nav-title m-0">Cool Beans</h1>
      <% end %>

      <div class="nav-links d-flex align-items-center gap-3">
        <%= link_to 'Explorar fermentos', ferments_path, class: 'btn btn-outline-light' %>

        <%= link_to "https://github.com/mgd1992/Fermented-Food", target: "_blank", class: "btn btn-outline-light text-decoration-none" do %>
          <i class="bi bi-github"></i>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag current_user.photo, class: "img-fluid rounded-circle profile-avatar"%>
          <% end %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: 'btn btn-sm btn-outline-light' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-sm btn-light text-dark' %>
        <% end %>
      </div>
    </nav>

  </div>

</div>
