<section class="landing">

  <nav class="nav">
    </div>
      <%= link_to 'About us' %>
      <%= link_to 'About us' %>

    <div>

  </nav>

  <div class="landing-inner">
    <h1>Cool Beans</h1>
    <% if user_signed_in? %>
      <%= link_to "Profile", profile_path(current_user) %>
      <%= link_to 'All fermentos', ferments_path %>
    <% else %>
      <%= link_to "Get started!", new_user_registration_path %>
    <% end %>
  </div>

</section>
