<div class="landing">
  <div class="landing-inner">
    <nav class="nav" role="navigation" aria-label="Main navigation">
  <%= link_to root_path, class: 'nav-link text-light' do %>
    <h1 class="nav-title">Cool Beans</h1>
  <% end %>

  <div class="nav-links">
    <%= link_to 'Fermentos', ferments_path, class: 'btn btn-outline-info' %>

    <% if user_signed_in? %>
      <%= link_to "Perfil", user_path(current_user), class: 'btn btn-outline-info' %>
      
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: 'btn btn-sm btn-outline-success' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </div>


</nav>


  </div>
</div>
