<div class="landing">
  <div class="landing-inner">

    <nav class="nav">
      <%= link_to '/', class: 'nav-link text-light' do %>
        <h1 class="nav-title">Cool Beans</h1>
      <% end %>
      <div class="nav-links">
        <div class="search-container">
          <%= form_with(url: ferments_path, method: :get, local: true, class: 'search-form') do %>
            <div class="input-group">
              <%= text_field_tag :query, params[:query], placeholder: "Search ferments...", class: 'form-control' %>
              <div class="input-group-append">
                <%= submit_tag 'Search', class: 'btn btn-outline-info mx-2' %>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to 'All ferments', ferments_path, class: 'about-us text-light' %>
        <%= link_to 'About Us', '#', class: 'about-us text-light' %>
        <%= link_to 'Contact Us', '#', class: 'contact-us text-light' %>
        <% if user_signed_in? %>
          <%= link_to "Profile", profile_path(current_user), class: 'btn btn-outline-info' %>
        <% else %>
          <%= link_to "Sign in", new_user_registration_path, class: 'btn btn-success' %>
        <% end %>
      </div>

    </nav>

  </div>
</div>
