<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 border border-success rounded-3 p-4">

      <div class="text-start mb-4">
        <%= link_to "Go back", ferments_path, class: "btn btn-outline-success" %>
      </div>


      <h1 class="text-center text-success mb-4">Actualizar Fermento</h1>

      <%= form_with(model: @ferment, class: "p-4") do |form| %>


        <div class="mb-3">
          <%= form.label :name, "Nombre del Fermento", class: "form-label text-success" %>
          <%= form.text_field :name, class: "form-control border-success", placeholder: "Nombre del fermento.." %>
        </div>


        <div class="mb-3">
          <%= form.label :instructions, "Instrucciones", class: "form-label text-success" %>
          <%= form.text_area :instructions, class: "form-control border-success", placeholder: "instrucciones del fermento.." %>
        </div>

        <div class="mb-3">
          <%= form.label :fermentation_time, "Tiempo de fermentacion", class: "form-label text-success" %>
          <%= form.text_field :fermentation_time, class: "form-control border-success", placeholder: "Tiempo de fermentacion.." %>
        </div>

        <div class="mb-4">
          <%= form.label :photos, "Subir más fotos", class: "form-label text-success" %>
          <%= form.file_field :photos, multiple: true, class: "form-control border-success" %>
        </div>


        <div class="d-grid">
          <%= form.submit "Actualizar Fermento", class: "btn btn-outline-success" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
