<h1 class="text-center mb-5 mt-2">All ferments</h1>


  <% @ferments.each do |ferment| %>
  <div class="ferments-list d-flex p-3 mx-3">
    <div class="mx-5">
      <h2><%= ferment.name %></h2>
      <p><%= ferment.description %></p>

      <p>Creado por: <%= ferment.user.full_name %> <%= link_to "ver Perfil", profile_path(ferment.user) %></p>

    </div>
    <%= link_to "Ver", ferment_path(ferment) %>

  </div>
<% end %>


<div class="text-center">
  <%= link_to 'Nuevo fermento', new_ferment_path, class: "btn btn-outline-success p-2 rounded-3 fixed-sm-bottom"%>
</div>
