<h1 class="text-center mb-5 mt-2">All ferments</h1>

<div class="text-center">
  <%= link_to 'Nuevo fermento', new_ferment_path, class: "btn btn-outline-success p-2 rounded-3 w-25 mb-3"%>
</div>

<div class="ferments">
  <% @ferments.each do |ferment| %>

      <div class="ferment-content">

        <div class="ferment-title">
          <h3><%= ferment.name %></h3>
          <%= link_to "Ver", ferment_path(ferment) %>
          <% if ferment.user == current_user %>
            <%= link_to "X", ferment_path(ferment), data: { turbo_method: :delete }, class: "text-danger" %>
          <% end %>
        </div>

        <div class="ferment-description">
          <p><%= ferment.description %></p>
        </div>

        <p>Creado por: <%= link_to ferment.user.full_name, profile_path(ferment.user) %></p>

      </div>

  <% end %>
</div>
