<h1 class="text-center mb-5 mt-2">All ferments</h1>


<% @ferments.each do |ferment| %>
  <div class="ferments-list d-flex p-3 mx-auto my-5">
    <div class="">
      <h2><%= ferment.name %></h2>
      <p><%= ferment.description %></p>

      <p>Creado por: <%= ferment.user.full_name %> <%= link_to "ver Perfil", profile_path(ferment.user) %></p>
      <% if ferment.photos.attached? %>
      <%= image_tag ferment.photos.first, crop: :fill, class:" w-25" %>
      <% end %>
    </div>
    <%= link_to "Ver", ferment_path(ferment) %>
    <%= link_to "X", ferment_path(ferment), data: { turbo_method: :delete }, class: "btn btn-dark btn-sm my-1 text-light" %>
  </div>
<% end %>


<div class="text-center">
  <%= link_to 'Nuevo fermento', new_ferment_path, class: "btn btn-outline-success p-2 rounded-3 fixed-sm-bottom w-75"%>
</div>
