<nav class="navbar navbar-dark bg-dark p-4 mb-3">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <%= link_to '/', class: 'nav-link text-light' do %>
      <h1 class="nav-title mb-0">Cool Beans</h1>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user) do %>
        <%= image_tag current_user.photo, class: "img-fluid rounded-circle profile-avatar"%>
      <% end %>
    <% end %>
  </div>
</nav>


<div class="d-flex flex-column align-items-center sticky-top justify-content-center">

  <div class="d-flex flex-column align-items-center my-3">
    <h1 class="text-center my-2">Todos los fermentos</h1>

    <div class="text-center mb-3">
      <%= link_to 'Nuevo fermento', new_ferment_path, class: "btn btn-outline-success p-2 rounded-3 w-100" %>
    </div>

    <div class="search-container w-100" style="position: sticky; top: 0; z-index: 1000; padding: 10px">
      <%= form_with(url: ferments_path, method: :get, local: true, class: 'search-form') do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], placeholder: "Buscar fermento...", class: 'form-control', autocomplete: "off" %>
          <%= submit_tag 'Buscar', class: 'btn btn-outline-info mx-2' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container mb-5 pb-3">
    <ul class="list-group">
      <% @ferments.each do |ferment| %>
        <li class="list-group-item d-flex justify-content-between rounded align-items-center py-2 my-1">
          <div class="d-flex flex-column flex-grow-1 p-2">
            <%= link_to ferment_path(ferment), class: "text-decoration-none" do %>
              <h4 class="mb-2 text-dark fw-bold text-uppercase fs-3"><%= ferment.name %></h4>
            <% end %>
            <p class="mb-1 text-muted">Ingredientes: <%= ferment.ingredients %></p>
            <p class="mb-1 text-muted">Instrucciones: <%= ferment.instructions %></p>
            <p class="mb-2 text-dark">Tiempo de fermentación: <%= ferment.fermentation_time %></p>
            <p class="small text-muted"><strong>Fecha de inicio:</strong> <%= ferment.formatted_start_date %></p>

            <% if ferment.user.present? %>
              <small class="text-muted mt-2">
                Creado por:
                <%= link_to ferment.user.full_name, profile_path(ferment.user), class: "text-decoration-none text-dark" %>
              </small>
            <% else %>
              <small class="text-muted mt-2">Usuario no disponible</small>
            <% end %>
          </div>

          <div class="d-flex flex-column align-items-end">
            <%= link_to "Ver", ferment_path(ferment), class: "btn btn-outline-success btn-sm mb-2" %>

            <% if ferment.user == current_user %>
              <%= link_to "Eliminar", ferment_path(ferment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
            <% end %>

          </div>
        </li>
      <% end %>
    </ul>

  </div>

  <div class="pagination rounded">
    <%= paginate @ferments %>
  </div>

</div>
