<div class="container">

  <div class="my-4 text-center">
    <h1 class="mb-3">Todos los fermentos</h1>

    <% if user_signed_in? %>
      <%= link_to 'Crear fermento', new_user_ferment_path(current_user),
            class: "btn btn-outline-warning mb-3",
            data: { turbo_frame: "_top" } %>
    <% end %>

    <div class="search-container mx-auto">
      <%= form_with url: ferments_path, method: :get, local: true do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query],
                placeholder: "Buscar fermento...",
                class: "form-control" %>
          <%= submit_tag "ðŸ”", class: "btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="ferments-grid" id="ferment-list">

    <%= render partial: "ferments/ferment_card", collection: @ferments, as: :ferment %>

  </div>


  <% if @ferments.total_pages > 1 %>
    <div class="pagination mt-4">
      <%= paginate @ferments %>
    </div>
  <% end %>

</div>
