<div class="container my-5 d-flex justify-content-center">
  <div class="w-50 border rounded-3 p-5 shadow">

    <%= form_with(model: @ferment, local: true) do |form| %>
      <h2 class="text-center mb-4 text-light">Crear Fermento</h2>

      <div class="form-group mb-3">
        <%= form.label :name, "Nombre del Fermento", class: "form-label" %>
        <%= form.text_field :name, placeholder: "Nombre del fermento...", class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :ingredients, "Ingredientes", class: "form-label" %>
        <%= form.text_area :ingredients, placeholder: "Ingredientes...", rows: 3, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :instructions, "Instrucciones", class: "form-label" %>
        <%= form.text_area :instructions, placeholder: "Instrucciones...", rows: 3, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :fermentation_time, "Tiempo de fermentación", class: "form-label" %>
        <%= form.text_field :fermentation_time, placeholder: "Ej. 7 días", class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :start_date, "Fecha de inicio", class: "form-label" %>
        <div class="input-group">
          <div class="input-group-text">
            <i class="bi bi-calendar-event"></i>
          </div>
          <%= form.text_field :start_date, class: "form-control", data: { controller: "datepicker" } %>
        </div>
      </div>

      <div class="form-group mb-3">
        <%= form.label :revisar_fermentos, "¿Cuántos días para revisarlo?", class: "form-label" %>
        <%= form.number_field :revisar_fermentos, min: 1, placeholder: "Ej: 5", class: "form-control" %>
      </div>

      <div class="form-group mb-4">
        <%= form.label :photos, "Fotos", class: "form-label" %>
        <%= form.file_field :photos, multiple: true, class: "form-control" %>
      </div>

      <% if current_user %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <p class="text-danger text-center">Debes iniciar sesión para crear un fermento.</p>
      <% end %>

      <div class="d-flex flex-column align-items-center gap-2">
        <%= form.submit "Crear", class: "btn btn-outline-success w-50" %>
        <%= link_to "Volver", ferments_path, class: "btn btn-outline-secondary w-50" %>
      </div>
    <% end %>

  </div>
</div>
