<%= link_to "Todos los fermentos", ferments_path, class: "btn btn-outline-success m-4" %>

<div class="container mx-auto w-75 p-5 border rounded-3 shadow-sm">

  
  <div class="text-center mb-4">
    <h2 class="text-success mb-3"><%= @ferment.name %></h2>
    <p class="lead text-muted"><%= @ferment.description %></p>
    <%= link_to "Editar", edit_ferment_path(@ferment), class: "btn btn-outline-primary mt-2" %>
  </div>


  <div class="row justify-content-center">
    <% if @ferment.photos.attached? %>
      <% @ferment.photos.each do |photo| %>
        <div class="col-md-4 col-6 mb-3">
          <%= image_tag photo, class: "img-fluid rounded shadow" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-muted">No hay fotos disponibles.</p>
    <% end %>
  </div>

</div>
