<div class="show-layout py-5">
  <div class="container container-narrow">

    <div class="d-flex align-items-center mb-4">
      <%= link_to ferments_path, class: "btn-back me-3" do %>
        <i class="bi bi-arrow-left border p-1 text-warning rounded-3"></i>
      <% end %>
      <h1 class="h2 text-white fw-bold mb-0"><%= @ferment.name %></h1>
    </div>

    <%= render "ferments/details", ferment: @ferment %>

    <section class="comments-section mt-5">
      <h3 class="text-white fw-bold mb-4 h4">Comentarios</h3>

      <%= turbo_frame_tag "new_comment" do %>
        <%= render "comments/form", ferment: @ferment, comment: @comment %>
      <% end %>

      <div id="comments" class="mt-4">
        <%= render partial: 'comments/comment', collection: @comments, as: :comment, locals: { ferment: @ferment } %>
      </div>
    </section>

  </div>
</div>
